/*SAVE AFTER EACH EDIT*/
*{
  margin:0;
}
header{
    background-color:#0057b7;
    width:100%;
    height:200px;
    max-height:200px;
    display:flex; 
    justify-content:space-between;
    font-family:Helvetica;
    position: fixed;
    margin:auto;
    top:0;
    padding-left:10px;
    z-index: 4000;
  }
  body{
    margin:0;
  }
  #logo{
    position:relative;
    
    width:13.11vw;
    height:5vw;
    max-width: 236px;
    max-height: 90px;
    left:20px;
    
  }
  
  .title{
    font-family:Helvetica;
    color:#ffcd05;
    text-align:center;
    margin:auto;
    font-size:3vw ;
    
    justify-content: center;
    position:absolute;
    left:25%;
    top:90px;
  }
  
  .burger>img{
    position:relative;
    top:90px;
    justify-content:space-evenly;
    margin-right:30px;
    right:20px;
    margin-left:10px;
  }
  @media screen and (max-width:450px){/*when screen width less than 400px*/

    .burger>img{
      right:15px;

  }
    .title{
    

  }
    #logo{

  }}
  @media screen and (min-width:450px){/*when screen is 400px or wider*/
    .burger>img{
      right:15px;
      
  }
    .title{
      
      
  }
    #logo{
      min-width:118px;
      min-height:45px;
      left:0px;
      top:77.5px;
  }
  
}
@media screen and (min-width:800px){/*when screen width >= 800px*/
  .burger>img{

}
  .title{
    
    top:85px;
}
#logo{
  min-width:177px;
  min-height:67.5px;
  left:10px;
  top:66.25px;
}
}
@media screen and (min-width:1200px){/*when screen width >=1200px*/
  .burger>img{
    right:30px;

}
  .title{
   
    top:80px;
}
  #logo{
    left:30px;
    width: 236px;
    height: 90px;
    top:55px;
  }
}
@media screen and (min-width:1600px){
  .burger>img{
    right:50px;

}
  .title{
   
    top:75px;
}
  #logo{
    left:50px;
}
}
  .dropdown{
    display: none;
    position: absolute;
    background-color: #0057b7;
    
    color: white;
    min-width: 150px;
  }
  .dropdown a{
    display: block;
    padding: 10px;
    border-color:#ffcd05;
    text-decoration: none;
    font-size: 16px;
    color:#ffcd05;
  }
   
  .burger:active>.dropdown, .burger:hover>.dropdown{
    
    display: block;
    right:30px;
    top:112px;
  }
  .burger:hover>.dropdown>a:hover{
    text-decoration: underline;
    
  }
  
  main{
    padding-top: 60px;
  }
  
  
  .startevent{
    top:150px;
    text-align: center;
    position:absolute;
    font-size:30px;
    width:inherit;
    color:white;
    font-weight: lighter;
    font-family:sans-serif;
    font-weight:bolder;
    width:100%;
    z-index: 5;
    
  }
  .startdescription{
    
    font-size: larger;
    position:relative;
    top:350px;
    font-family:sans-serif;
    color:white;
    text-align:center;
    padding:10px;
    height:25%;
    margin-left:25%;
    margin-right:25%;
    width:100%;
    z-index: 10;
  }
  i{
    position:absolute;
    color:white;
    font-family:helvetica;
    top:720px;
  }
  .startnode{
    display: flex;
    position:fixed;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: left;
    top:200px;
    
    height:1000px;
    position:absolute;
    background-color:#E0DDDD;
    z-index:0;
    
    
  }
  .startnode img{
    position:absolute;
    height:100%;
    width:100%;
    object-fit: cover;
    z-index: -1;
    
  }
  #timeline-line{
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: left;
  top:968px;
  position:absolute;
  background-color: white;
  }
  
  .node{
    width: 300px;
  height: 300px;
  object-fit: cover;
  margin: 8px;
  border: 3px solid white;
  border-radius: 15px;
  
  
  }
  .node:first-of-type{
    
  }
  #Feb25{
    background-image: url(images/171201-Z-EL858-193.jpg);
    background-size: cover;
    
  }
  .event{
    text-align:left;
    font-family:Helvetica;
    display:block;
    background-color: #ffcd05;
    width:295px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding:3px;
    right:2px;
    bottom:1px;
    
  }
  .node:hover{
    animation-name: node;
    animation-duration:0.25s;
    border: 3px solid #0057b7;
    /* #region */
  }
  @keyframes node{
    0%{
      border-color:white;
    }
    100%{
      border-color:#0057b7;
    }
  }

  .date{
   position: relative;
   top:212px;
   padding:5px;
   text-align: center;
   background-color: #ffcd05;
   width:290px;
   font-family:Helvetica;
   display:block;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   left:0px;
  }
  .readmore{
    color:black;
    background-color:white;
    border-radius:10px;
    padding:20px;
    top:30px;
    position:relative;
  }
  .readmore:hover{
    animation-name: readmore;
    animation-duration:0.25s;
    background-color:#ffcd05;
  }
  @keyframes readmore{
    0%{
      background-color:white;
    }
    100%{
      background-color: #ffcd05;
    }

  }
  
 

/*begin popup code*/
  .popup{
    width:1000px;
    height:1000px;
    background-color:gray;
    overscroll-behavior:none;
    
  }
  .image1{
    width:800px;
    height:500px;
    object-fit:cover;
    left:25%;
    display:block;
    margin-left:auto;
    margin-right:auto;
  }
  .image2{
    width:800px;
    height:500px;
    object-fit:scale-down;
    left:25%;
    display:block;
    margin-left:auto;
    margin-right:auto;
  }
  .image3{
    width:500px;
    height:500px;
    object-fit:cover;
    left:25%;
    display:block;
    margin-left:auto;
    margin-right:auto;
  }
  iframe{
    margin-left:auto;
    margin-right:auto;
    display:block;
    left:25%;
  }


.popupCloseButton {
    background-color: #fff;
    border: 3px solid black;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    
}
.popupCloseButton:hover {
    background-color: #ccc;
}
.trigger_popup_fricc {
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    display: inline-block;
    font-weight: bold;
}


h2{
  text-align: center;
}
.hover_bkgr_fricc,.feb25, .feb26,.feb27,.feb28,.mar1,.mar2,.mar3,.mar4,.mar5,.mar6,.mar7,.mar8,.mar9,.mar10,.mar11,.mar12,.mar13,
.mar14,.mar15,.mar16,.mar17,.mar18,.mar19,.mar20,.mar21,.mar22,.mar22,.mar23,.mar24,.mar25,.mar26,.mar27,.mar28,.mar29,.mar30,.mar31,
.apr1,.apr2,.apr3,.apr4,.apr5,.apr6,.apr7 ,.apr8,.apr9,.apr10,.apr11,.apr12,.apr13,.apr14,.apr15,.apr16,.apr17,.apr18,.apr19,.apr20,.apr21,
.apr22,.apr23,.apr24,.apr25,.apr26,.apr27,.apr28,.apr29,.apr30,.may1,.may2,.may3,.may4,.may5,.may6,.may7,.may8,.may9,.may10,.may11,.may12,.may13,.may14
,.may15,.may16,.may17,.may18,.may19,.may20,.may21,.may22,.may23,.may24,.may25,.may26,.may27,.may28,.may29,.may30,.may31,
.jun1,.jun2,.jun3,.jun4,.jun5,.jun6,.jun7,.jun8,.jun9,.jun10,.jun11,.jun12,.jun13,.jun14,.jun15,.jun16,.jun17,.jun18,.jun19,.jun20,.jun21,
.jun22,.jun23,.jun24,.jun25,.jun26,.jun27,.jun28,.jun29,.jun30,.jul1,.jul2,.jul3,.jul4,.jul5,.jul6,.jul7,.jul8,.jul9,.jul10,.jul11
,.jul12,.jul13,.jul14,.jul15,.jul16,.jul17,.jul18,.jul19,.jul20,.jul21,.jul22,.jul23,.jul24,.jul25,.jul26,.jul27,.jul28,.jul29,.jul30,.jul31
,.aug1,.aug2,.aug3,.aug4,.aug5,.aug6,.aug7,.aug8,.aug9,.aug10,.aug11,.aug12,.aug13,.aug14,.aug15,.aug16,.aug17,.aug18,.aug19,.aug20,.aug21 
,.aug22,.aug23,.aug24,.aug25,.aug26,.aug27,.aug28,.aug29,.aug30,.aug31,.sep1,.sep2,.sep3,.sep4,.sep5,.sep6,.sep7,.sep8,.sep9,.sep10,.sep11,.sep12
,.sep13,.sep14,.sep15,.sep16,.sep17,.sep18,.sep19,.sep20,.sep21,.sep22,.sep23,.sep24,.sep25,.sep26,.sep27,.sep28,.sep29,.oct1,.oct2,.oct3,.oct4,.oct5,
.oct6,.oct7,.oct8,.oct9,.oct10,.oct11,.oct12,.oct13,.oct14,.oct15,.oct16,.oct17,.oct18,.oct19,.oct20,.oct21,.oct22,.oct23,.oct24,.oct25,.oct26,.oct27,
.oct28,.oct29,.oct30,.oct31,.nov1,.nov2,.nov3,.nov4,.nov5,.nov6,.nov7,.nov,.nov9,.nov10,.nov11,.nov12,.nov13,.nov14,.nov15,.nov16,.nov17,.nov18,
.nov19,.nov20,.nov21,.nov22,.nov23,.nov24,.nov25,.nov26,.nov27,.nov28,.nov29,.nov30,.dec1,.dec2,.dec3,.dec4,.dec5,.dec6,.dec7,.dec8,.dec9,.dec10{
  background:rgba(0,0,0,.4);
  cursor:pointer;
  display:none;
  height:100%;
  position:fixed;
  text-align:center;
  top:0;
  width:100%;
  z-index:10000;
  font-family: Helvetica;
  margin:auto;
}


.searchbar, .credits{
 
  cursor:pointer;
  display:none;
  height:100%;
  position:fixed;
  text-align:center;
  top:25%;
  width:100%;
  z-index:10000;
  font-family: Helvetica;
  justify-self: center;
  
}
.helper{
  display:inline-block;
  height:90%;
  vertical-align:middle;
  
}
blockquote{
  justify-content:center;
  margin:auto;
  text-align:center;
}
.theList .background, .searchbar .background ,.credits .background{
  background-color: #fff;
  box-shadow: 10px 10px 60px #555;
  display: inline-block;
  height: auto;
  max-width: 1000px;
  min-height: 100px;
  max-height:1000px;
  vertical-align: middle;
  width: 60%;
  height:90%;
  position: relative;
  border:3px solid black;
  padding: 15px 5%;
  
  top:20px;
  text-align:left;
  
}
.theList .background{
  overflow:scroll;
}
.searchbar .background{
  overflow:hidden;
}
.background .cap{
  color:black;
  top:auto;
  left:25%;
  
}
/*dates*/
#Feb26{
  
  background-size: cover;
  background-image: url(https://dynaimage.cdn.cnn.com/cnn/digital-images/org/d07eb4a6-6fb0-4399-885e-a7dc62bbcb8d.jpg);
}
#Feb27{
  
  background-size: cover;
  background-image: url(https://tacticaldefenseusa.com/wp-content/uploads/2022/08/russia_nuclear-scaled-e1649682062657.jpg);
}
#Feb28{
  
  background-size: cover;
  background-image:url(https://upload.wikimedia.org/wikipedia/en/7/7a/Andrey_Sukhovetsky_photo.jpg);
}
#Mar1{
  
  background-size: cover;
  background-image:url(https://images.jpost.com/image/upload/f_auto,fl_lossy/t_JD_ArticleMainImageFaceDetect/498643);
}
#Mar2{
  background-image:url(https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/Myronosytska_1_after_Russian_shelling_on_2_March_2022_%2805%29.jpg/800px-Myronosytska_1_after_Russian_shelling_on_2_March_2022_%2805%29.jpg);
  background-size: cover;
  
}
#Mar3{
  
  background-size: cover;
  background-image:url(http://videos.usatoday.net/Brightcove2/29906170001/2014/03/29906170001_3283138601001_vs-5313e569e4b0dd6b84ddc52d-1592194014001.jpg?pubId=29906170001&quality=80&auto=webp&height=1800&width=3200&fit=crop&crop=3200%2C1800);
}
#Mar4{
  
  background-size: cover;
  background-image:url(https://th.bing.com/th/id/R.2bb86da33f6067e1478671bb049de51c?rik=6IgoP28NRoOTHw&riu=http%3a%2f%2fimage.digitalinsightresearch.in%2fUploads%2fImageLibrary%2fActive%2f2017Q3%2f5.PMI%2fNEI%2fZaporozhe.JPG&ehk=WO%2bUJJ9uHniLsejdV7mL1ULjMBNkbimWA0PGiLeBoGs%3d&risl=&pid=ImgRaw&r=0);
}
#Mar5{
  
  background-size: cover;
  background-image:url(https://www.aljazeera.com/wp-content/uploads/2022/02/DSC9502.jpg?resize=770%2C513);
}#Mar6{
  
  background-size: cover;
  background-image:url(https://static.timesofisrael.com/www/uploads/2022/03/AP22067449472905-1.jpg);
}#Mar7{
  
  background-size: cover;
  background-image:url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/52/Battle_of_Hostomel%2C_04.03.2021%2C_Skirmish_Aftermath_%28cropped%29.jpg/1920px-Battle_of_Hostomel%2C_04.03.2021%2C_Skirmish_Aftermath_%28cropped%29.jpg);
}#Mar8{
  background-image:url(images/chocolatechocolatechip.PNG);
  background-size: cover;
  
}#Mar9{
  background-image:url(https://metro.co.uk/wp-content/uploads/2022/03/SEC_92612150.jpg?quality=90&strip=all&zoom=1&resize=644%2C338);
  background-size: cover;
  
}#Mar10{
  background-image:url(images/drone.png);
  background-size: cover;
  
}#Mar11{
  
  background-size: cover;
  background-image:url(https://upload.wikimedia.org/wikipedia/commons/1/1c/Kolesnikov_Andrei_Borisovich.jpg);
}#Mar12{
  
  background-size: cover;
  background-image: url(https://th.bing.com/th?id=OIF.V%2btJIpkPX9QKC6x74Ah0jg&pid=ImgDet&rs=1);

}#Mar13{
  
  background-size: cover;
  background-image:url(https://niemanreports.org/wp-content/uploads/2020/07/Renaud.jpg);
}#Mar14{
  background-image: url(https://www.aljazeera.com/wp-content/uploads/2022/03/AP22073366290955.jpg?resize=770%2C513);
  background-size: cover;
  
}#Mar15{
  background-image:url(https://gdb.voanews.com/023d0000-0aff-0242-63a1-08da06504ece_w1023_r1_s.jpg);
  background-size: cover;
  
}#Mar16{
  background-image:url(https://www.newsx.com/wp-content/uploads/2022/04/ruk1-259143-b5nojqAL-1024x576.jpg);
  background-size: cover;
  
}#Mar17{
  background-image:url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/b4/Destruction_of_Russian_tanks_by_Ukrainian_troops_in_Mariupol_%281%29.jpg/800px-Destruction_of_Russian_tanks_by_Ukrainian_troops_in_Mariupol_%281%29.jpg);
  background-size: cover;
  
}#Mar18{
  background-image:url(https://upload.wikimedia.org/wikipedia/commons/c/c4/2018_Moscow_Victory_Day_Parade_66.jpg);
  background-size: cover;
  
}#Mar19{
  background-image:url(https://th.bing.com/th/id/R.02b8c5ab90c5cc91c864b7eeb2806821?rik=bR8KAU8vlA8sGQ&riu=http%3a%2f%2fkochubey2005.narod.ru%2fart_school_mariupol.jpg&ehk=hjCfBiMutkpXi1al78%2flSwyBuGOZtGon124vnRV0im4%3d&risl=&pid=ImgRaw&r=0);
  background-size: cover;
  
}#Mar20{
  background-image:url(https://pbs.twimg.com/media/FOUt4_AXMAcUFlu.jpg:large);
  background-size: cover;
  
}#Mar21{
  background-image:url(https://i.guim.co.uk/img/media/3bd41c4c179bbdd10e8d284aaa1e2c01d497e5e9/0_887_7825_4694/master/7825.jpg?width=620&quality=85&dpr=1&s=none);
  background-size: cover;
  
}#Mar22{
  background-image:url(https://th.bing.com/th/id/OIP.CjTqngTOASGNuEku9NxGmQHaFD?pid=ImgDet&rs=1);
  background-size: cover;
  
}#Mar23{
  background-image:url(https://nypost.com/wp-content/uploads/sites/2/2022/04/irpin-003.jpg?quality=90&strip=all);
  background-size: cover;
  
}#Mar24{
  background-image:url(https://th.bing.com/th/id/OIP.n1dBqm55Vs3pq2NbkFpC_gHaEN?pid=ImgDet&rs=1);
  background-size: cover;
  
}#Mar25{
  background-image:url(https://th.bing.com/th/id/OIP.NnuunpyfqQ441lhETPoZYAHaE-?pid=ImgDet&rs=1);
  background-size: cover;
  
}#Mar26{
  background-image:url(images/theguardianpicture.PNG);
  background-size: cover;
  
}#Mar27{
  
  background-size: cover;
  
}#Mar28{
  
  background-size: cover;
  
}#Mar29{
  
  background-size: cover;
  
}#Mar30{
  
  background-size: cover;
  
}#Mar31{
  
  background-size: cover;
  
}#Apr1{
  background-image:url(images/22418088_0.jpg);
  background-size: cover;
  
}#Apr2{
  
  background-size: cover;
  
}#Apr3{
  
  background-size: cover;
  
}#Apr4{
  
  background-size: cover;
  
}#Apr5{
  
  background-size: cover;
  
}#Apr6{
  background-image:url(https://images.hindustantimes.com/img/2022/04/06/550x309/cd1ea29e-b5ca-11ec-a4f3-fc37f02059fa_1649266231774.jpg);
  background-size: cover;
  
}#Apr7{
  
  background-size: cover;
  
}#Apr8{
  background-image:url(https://upload.wikimedia.org/wikipedia/commons/d/da/Kramatorsk_railway_bombing_2022_April_8_%286%29.jpg);
  background-size: cover;
  
}#Apr9{
  
  background-size: cover;
  
}#Apr10{
  background-image:url(https://www.aljazeera.com/wp-content/uploads/2022/04/Dnipro.jpg?resize=770%2C513);
  background-size: cover;
  
}#Apr11{
  background-image:url(https://th.bing.com/th/id/R.68964f4e46c08f246f5ff3f5a2159b9c?rik=sdgFdpDFV6LXGA&pid=ImgRaw&r=0);
  background-size: cover;
  
}#Apr12{
  background-image:url(images/bidome.png);
  background-size: cover;
  
}#Apr13{
  background-image:url(https://upload.wikimedia.org/wikipedia/commons/d/db/Russian_cruiser_Moskva.jpg);
  background-size: cover;
 
  
}#Apr14{
  background-image:url(https://dynaimage.cdn.cnn.com/cnn/digital-images/org/fdc94ffb-bb9c-4a94-8f67-09c7bb9934fd.jpg);
  background-size: cover;
  
}#Apr15{
  background-image:url(https://static.ukrinform.com/photos/2022_04/thumb_files/630_360_1650065911-223.jpg);
  background-size: cover;
  
}#Apr16{
  
  background-size: cover;
  
}#Apr17{
  
  background-size: cover;
  
}#Apr18{
  
  background-size: cover;
  
}#Apr19{
  
  background-size: cover;
  
}#Apr20{
  background-image:url(https://www.politico.eu/wp-content/uploads/2016/01/501839504-1160x773.jpg);
  background-size: cover;
  
}#Apr21{
  
  background-size: cover;
  
}#Apr22{
  
  background-size: cover;
  
}#Apr23{
  
  background-size: cover;
  
}#Apr24{
  
  background-size: cover;
  
}#Apr25{
  
  background-size: cover;
  
}#Apr26{
  
  background-size: cover;
  
}#Apr27{
  
  background-size: cover;
  
}#Apr28{
  
  background-size: cover;
  
}#Apr29{
  
  background-size: cover;
  
}#Apr30{
  
  background-size: cover;
  
}#May1{
  
  background-size: cover;
  
}#May2{
  
  background-size: cover;
  
}#May3{
  
  background-size: cover;
  
}#May4{
  
  background-size: cover;
  
}#May5{
  
  background-size: cover;
  
}#May6{
  
  background-size: cover;
  
}#May7{
  
  background-size: cover;
  
}#May8{
  
  background-size: cover;
  
}#May9{
  
  background-size: cover;
  
}#May10{
  
  background-size: cover;
  
}#May11{
  
  background-size: cover;
  
}#May12{
  
  background-size: cover;
  
}#May13{
  
  background-size: cover;
  
}#May14{
  
  background-size: cover;
  
}#May15{
  
  background-size: cover;
  
}#May16{
  
  background-size: cover;
  
}#May17{
  
  background-size: cover;
  
}#May18{
  
  background-size: cover;
  
}#May19{
  
  background-size: cover;
  
}#May20{
  
  background-size: cover;
  
}#May21{
  
  background-size: cover;
  
}#May22{
  
  background-size: cover;
  
}#May23{
  
  background-size: cover;
  
}#May24{
  
  background-size: cover;
  
}#May25{
  
  background-size: cover;
  
}#May26{
  
  background-size: cover;
  
}#May27{
  
  background-size: cover;
  
}#May28{
  
  background-size: cover;
  
}#May29{
  
  background-size: cover;
  
}#May30{
  
  background-size: cover;
  
}#May31{
  
  background-size: cover;
  
}#Jun1{
  
  background-size: cover;
  
}#Jun2{
  
  background-size: cover;
  
}#Jun3{
  
  background-size: cover;
  
}#Jun4{
  
  background-size: cover;
  
}#Jun5{
  
  background-size: cover;
  
}#Jun6{
  
  background-size: cover;
  
}#Jun7{
  
  background-size: cover;
  
}#Jun8{
  
  background-size: cover;
  
}#Jun9{
  
  background-size: cover;
  
}#Jun10{
  
  background-size: cover;
  
}#Jun11{
  
  background-size: cover;
  
}#Jun12{
  
  background-size: cover;
  
}#Jun13{
  
  background-size: cover;
  
}#Jun14{
  
  background-size: cover;
  
}#Jun15{
  
  background-size: cover;
  
}#Jun16{
  
  background-size: cover;
  
}#Jun17{
  
  background-size: cover;
  
}#Jun18{
  
  background-size: cover;
  
}#Jun19{
  
  background-size: cover;
  
}#Jun20{
  
  background-size: cover;
  
}#Jun21{
  
  background-size: cover;
  
}#Jun22{
  
  background-size: cover;
  
}#Jun23{
  
  background-size: cover;
  
}#Jun24{
  
  background-size: cover;
  
}#Jun25{
  
  background-size: cover;
  
}#Jun26{
  
  background-size: cover;
  
}#Jun27{
  
  background-size: cover;
  
}#Jun28{
  
  background-size: cover;
  
}#Jun29{
  
  background-size: cover;
  
}#Jun30{
  
  background-size: cover;
  
}#Jul1{
  
  background-size: cover;
  
}#Jul2{
  
  background-size: cover;
  
}#Jul3{
  
  background-size: cover;
  
}#Jul4{
  
  background-size: cover;
  
}#Jul5{
  
  background-size: cover;
  
}#Jul6{
  
  background-size: cover;
  
}#Jul7{
  
  background-size: cover;
  
}#Jul8{
  
  background-size: cover;
  
}#Jul9{
  
  background-size: cover;
  
}#Jul10{
  
  background-size: cover;
  
}#Jul11{
  
  background-size: cover;
  
}#Jul12{
  
  background-size: cover;
  
}#Jul13{
  
  background-size: cover;
  
}#Jul14{
  
  background-size: cover;
  
}#Jul15{
  
  background-size: cover;
  
}#Jul16{
  
  background-size: cover;
  
}#Jul17{
  
  background-size: cover;
  
}#Jul18{
  
  background-size: cover;
  
}#Jul19{
  
  background-size: cover;
  
}#Jul20{
  
  background-size: cover;
  
}#Jul21{
  
  background-size: cover;
  
}#Jul22{
  
  background-size: cover;
  
}#Jul23{
  
  background-size: cover;
  
}#Jul24{
  
  background-size: cover;
  
}#Jul25{
  
  background-size: cover;
  
}#Jul26{
  
  background-size: cover;
  
}#Jul27{
  
  background-size: cover;
  
}#Jul28{
  
  background-size: cover;
  
}#Jul29{
  
  background-size: cover;
  
}#Jul30{
  
  background-size: cover;
  
}#Jul31{
  
  background-size: cover;
  
}#Aug1{
  
  background-size: cover;
  
}#Aug2{
  
  background-size: cover;
  
}#Aug3{
  
  background-size: cover;
  
}#Aug4{
  
  background-size: cover;
  
}#Aug5{
  
  background-size: cover;
  
}#Aug6{
  
  background-size: cover;
  
}#Aug7{
  
  background-size: cover;
  
}#Aug8{
  
  background-size: cover;
  
}#Aug9{
  
  background-size: cover;
  
}#Aug10{
  
  background-size: cover;
  
}#Aug11{
  
  background-size: cover;
  
}#Aug12{
  
  background-size: cover;
  
}#Aug13{
  
  background-size: cover;
  
}#Aug14{
  
  background-size: cover;
  
}#Aug15{
  
  background-size: cover;
  
}#Aug16{
  
  background-size: cover;
  
}#Aug17{
  
  background-size: cover;
  
}#Aug18{
  
  background-size: cover;
  
}#Aug19{
  
  background-size: cover;
  
}#Aug20{
  
  background-size: cover;
  
}#Aug21{
  
  background-size: cover;
  
}#Aug22{
  
  background-size: cover;
  
}#Aug23{
  
  background-size: cover;
  
}#Aug24{
  
  background-size: cover;
  
}#Aug25{
  
  background-size: cover;
  
}#Aug26{
  
  background-size: cover;
  
}#Aug27{
  
  background-size: cover;
  
}#Aug28{
  
  background-size: cover;
  
}#Aug29{
  
  background-size: cover;
  
}#Aug30{
  
  background-size: cover;
  
}#Aug31{
  
  background-size: cover;
  
}#Sep1{
  
  background-size: cover;
  
}#Sep2{
  
  background-size: cover;
  
}#Sep3{
  
  background-size: cover;
  
}#Sep4{
  
  background-size: cover;
  
}#Sep5{
  
  background-size: cover;
  
}#Sep6{
  
  background-size: cover;
  
}#Sep7{
  
  background-size: cover;
  
}#Sep8{
  
  background-size: cover;
  
}#Sep9{
  
  background-size: cover;
  
}#Sep10{
  
  background-size: cover;
  
}#Sep11{
  
  background-size: cover;
  
}#Sep12{
  
  background-size: cover;
  
}#Sep13{
  
  background-size: cover;
  
}#Sep14{
  
  background-size: cover;
  
}#Sep15{
  
  background-size: cover;
  
}#Sep16{
  
  background-size: cover;
  
}#Sep17{
  
  background-size: cover;
  
}#Sep18{
  
  background-size: cover;
  
}#Sep19{
  
  background-size: cover;
  
}#Sep20{
  
  background-size: cover;
  
}#Sep21{
  
  background-size: cover;
  
}#Sep22{
  
  background-size: cover;
  
}#Sep23{
  
  background-size: cover;
  
}#Sep24{
  
  background-size: cover;
  
}#Sep25{
  
  background-size: cover;
  
}#Sep26{
  
  background-size: cover;
  
}#Sep27{
  
  background-size: cover;
  
}#Sep28{
  
  background-size: cover;
  
}#Sep29{
  
  background-size: cover;
  
}#Sep30{
  
  background-size: cover;
  
}#oct1{
  
  background-size: cover;
  
}#oct2{
  
  background-size: cover;
  
}#oct3{
  
  background-size: cover;
  
}#oct4{
  
  background-size: cover;
  
}#oct5{
  
  background-size: cover;
  
}#oct6{
  
  background-size: cover;
  
}#oct7{
  
  background-size: cover;
  
}#oct8{
  
  background-size: cover;
  
}#oct9{
  
  background-size: cover;
  
}#oct10{
  
  background-size: cover;
  
}#oct11{
  
  background-size: cover;
  
}#oct12{
  
  background-size: cover;
  
}#oct13{
  
  background-size: cover;
  
}#oct14{
  
  background-size: cover;
  
}#oct15{
  
  background-size: cover;
  
}#oct16{
  
  background-size: cover;
  
}#oct17{
  
  background-size: cover;
  
}#oct18{
  
  background-size: cover;
  
}#oct19{
  
  background-size: cover;
  
}#oct20{
  
  background-size: cover;
  
}#oct21{
  
  background-size: cover;
  
}#oct22{
  
  background-size: cover;
  
}#oct23{
  
  background-size: cover;
  
}#oct24{
  
  background-size: cover;
  
}#oct25{
  
  background-size: cover;
  
}#oct26{
  
  background-size: cover;
  
}#oct27{
  
  background-size: cover;
  
}#oct28{
  
  background-size: cover;
  
}#oct29{
  
  background-size: cover;
  
}#oct30{
  
  background-size: cover;
  
}#oct31{
  
  background-size: cover;
  
}#nov1{
  
  background-size: cover;
  
}#nov2{
  
  background-size: cover;
  
}#nov3{
  
  background-size: cover;
  
}#nov4{
  
  background-size: cover;
  
}#nov5{
  
  background-size: cover;
  
}#nov6{
  
  background-size: cover;
  
}#nov7{
  
  background-size: cover;
  
}#nov8{
  
  background-size: cover;
  
}#nov9{
  
  background-size: cover;
  
}#nov10{
  
  background-size: cover;
  
}#nov11{
  
  background-size: cover;
  
}#nov12{
  
  background-size: cover;
  
}#nov13{
  
  background-size: cover;
  
}#nov14{
  
  background-size: cover;
  
}#nov15{
  
  background-size: cover;
  
}#nov16{
  
  background-size: cover;
  
}#nov17{
  
  background-size: cover;
  
}#nov18{
  
  background-size: cover;
  
}#nov19{
  
  background-size: cover;
  
}#nov20{
  
  background-size: cover;
  
}#nov21{
  
  background-size: cover;
  
}#nov22{
  
  background-size: cover;
  
}#nov23{
  
  background-size: cover;
  
}#nov24{
  
  background-size: cover;
  
}#nov25{
  
  background-size: cover;
  
}#nov26{
  
  background-size: cover;
  
}#nov27{
  
  background-size: cover;
  
}#nov28{
  
  background-size: cover;
  
}#nov29{
  
  background-size: cover;
  
}#nov30{
  
  background-size: cover;
  
}#dec1{
  
  background-size: cover;
  
}#dec2{
  
  background-size: cover;
  
}#dec3{
  
  background-size: cover;
  
}#dec4{
  
  background-size: cover;
  
}#dec5{
  
  background-size: cover;
  
}#dec6{
  
  background-size: cover;
  
}#dec7{
  
  background-size: cover;
  
}#dec8{
  
  background-size: cover;
  
}#dec9{
  
  background-size: cover;
  
}#dec10{
  
  background-size: cover;
  
}#dec11{
  
  background-size: cover;
  
}#dec12{
  
  background-size: cover;
  
}#dec13{
  
  background-size: cover;
  
}#dec14{
  
  background-size: cover;
  
}#dec15{
  
  background-size: cover;
  
}#dec16{
  
  background-size: cover;
  
}#dec17{
  
  background-size: cover;
  
}#dec18{
  
  background-size: cover;
  
}#dec19{
  
  background-size: cover;
  
}#dec20{
  
  background-size: cover;
  
}#dec21{
  
  background-size: cover;
  
}#dec22{
  
  background-size: cover;
  
}#dec23{
  
  background-size: cover;
  
}#dec24{
  
  background-size: cover;
  
}#dec25{
  
  background-size: cover;
  
}#dec26{
  
  background-size: cover;
  
}#dec27{
  
  background-size: cover;
  
}#dec28{
  
  background-size: cover;
  
}#dec29{
  
  background-size: cover;
  
}#dec30{
  
  background-size: cover;
  
}#dec31{
  
  background-size: cover;
  
}/*#Feb25{
  
  background-size: cover;
  
}#Feb25{
  
  background-size: cover;
  
}#Feb25{
  
  background-size: cover;
  
}#Feb25{
  
  background-size: cover;
  
}#Feb25{
  
  background-size: cover;
  
}#Feb25{
  
  background-size: cover;
  
}#Feb25{
  
  background-size: cover;
  
}#Feb25{
  
  background-size: cover;
  
}#Feb25{
  
  background-size: cover;
  
}